@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    background-color: #F0F4EF;
    font-family: 'Exo', sans-serif;
}
.nav-bar__items{
    font-size: 1.5rem;
}

.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;
}
.nav-bar__items{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}
.nav-bar__items li{
    text-decoration: none;
    list-style: none;
}
.nav-bar__items li a{
    text-decoration: none;
    color: rgb(27, 110, 182);
}
.logo{
    width: 40%;
    font-size: 1.8rem;
}
span{
    color: rgb(165, 16, 16);
}
.menu-despl{
    visibility: hidden;
}
header  .nav-bar__items li:hover>ul{
    visibility: visible;
}